@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
}